* {
  margin: 0;
  padding: 0;
}
.add-form {
  height: 100vh;
  margin-bottom: 40px;
  display: block;
  text-align: center;
  font-size: 20px;
}
/* .create-form {
  margin-top: 100px;
} */

.sidebar {
  width: 100%;
  max-width: 230px;
  height: 100vh;
  background-color: aquamarine;
  position: fixed;
}
.Logo {
  display: flex;
  justify-content: center;
  margin-top: 18px;
  font-size: 35px;
}
.sidebar-link {
  display: flex;
  text-align: left;
  text-decoration: none;
  font-size: 30px;
  color: #000;
}
.sidebar-nav {
  margin-top: 290px;
  list-style-type: none;
}
.sidebar-item {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 80px;
  margin-left: 30px;
}
.page-container {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  min-height: 100vh;
}

.form-control {
  margin-bottom: 50px;
}

.add-form-container {
  margin-top: 120px; /* Adjust the margin-top value as needed */
}
.title {
  margin-bottom: 60px;
  margin-top: 150px;
}
.add-button {
  margin-bottom: 30px;
  width: 100%;
  max-width: 100px;
  background-color: #f0f0f0;
  border: none;
  padding: 7px;
  font-weight: bold;
}
.form-control label {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  font-size: 20px;
  border: none;
  color: #000;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3); /* Adjust values as needed */
}

.icons {
  margin-left: 30px;
}
.centered-container {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.questionnaire-form {
  box-sizing: border-box;
  text-align: center;
  margin-top: 200px;
  margin-left: 100px;
}
.questionnaire-form h1 {
  margin-bottom: 60px;
}
.input {
  margin: 70px;
  margin-top: 40px;
  margin-left: -40px;
  width: 35px;
  height: 35px;
}
.question-label {
  display: flex;
  justify-content: center;
}
.question-label h3 {
  font-size: 25px;
}
.questionnaire-form label {
  width: 100%;
  font-size: 20px;
  color: #000;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin-bottom: 65px;
  margin-right: 20px;
  border: none;
  border-radius: 6px;
}
.submit-button {
  margin-bottom: 30px;
  width: 100%;
  max-width: 100px;
  background-color: #f0f0f0;
  border: none;
  padding: 7px;
  font-weight: bold;
}
